@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
    min-height: 844px;
}

.introTxt {
    font-size: 14px;
    line-height: 19px;
    color: #64748B;
}